* {
  box-sizing: border-box;
}

.rectangle {
  height: 200px;
  width: 400px;
  background-color: bisque;
  border-style: solid solid dashed dashed;
  border-width: 10px;
  border-color: firebrick chartreuse burlywood aqua;
  margin: 20px 30px 40px 50px;
  font-size: 24px;
}
